.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #111;
  color: white;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
  cursor: pointer;
}
