.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
}

.card-img {
  width: 100%;
  border-radius: 6px;
}

.card-title {
  margin: 8px 0;
  font-size: 18px;
}

.card-price {
  color: green;
}

.card-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}
