* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div{
  background-color: black;
}

p{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-size: 50px;
  color: white;
}